Options -MultiViews
RewriteEngine on

# changer /public pour le chemin du répertoire public.
RewriteBase /public 

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-d !-f

Règle de réécriture ^(.+)$ index.php?req=$1